.date-picker {
	width: 200px;
	.date-picker-year {
		display: flex;
		justify-content: space-between;
	}
	.date-picker-month {
		display: flex;
		justify-content: space-between;
	}
	.date-picker-month-days {
		display: flex;
		flex-wrap: wrap;
		// width: 200px;
		div {
			width: 30px;
			text-align: center;
			border: solid 1px white;
			margin: 5px;
		}

		.date-picker-current-day {
			background-color: white;
			color: black;
		}
	}
}
