.caurosel {
	width: 500px;
	display: flex;

	.caurosel-btn {
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}

	.caurosel-btn-left {
	}

	.caurosel-btn-right {
	}

	.caurosel-body {
		display: flex;
		flex: 1;
		overflow: hidden;
		.caurosel-item {
			min-width: 200px;
			text-align: center;
		}
	}
}
