.loader {
	height: 75px;
	width: 75px;
	background-color: transparent;

	border: solid 5px #c0c0c080;
	border-top: solid 5px #c0c0c0;
	border-radius: 50%;

	animation: spin linear 1s infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader-ms {
	height: 75px;
	width: 75px;
	position: relative;
	border-radius: 50%;
	background-color: white;

	animation: pspin linear 3s infinite;
}

@keyframes pspin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader-ms-1 {
	height: 75px;
	width: 75px;
	background-color: transparent;

	border: solid 7px white;
	border-top: solid 7px red;
	border-radius: 50%;

	animation: spin-1 linear 3s infinite;

	position: relative;
}

@keyframes spin-1 {
	0% {
		transform: rotate(0deg);
	}
	16% {
		transform: rotate(120deg);
	}
	33% {
		transform: rotate(120deg);
	}
	50% {
		transform: rotate(240deg);
	}
	66% {
		transform: rotate(240deg);
	}
	83% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader-ms-2 {
	position: absolute;
	height: 75px;
	width: 75px;
	background-color: transparent;

	border: solid 7px transparent;
	border-top: solid 7px white;
	border-radius: 50%;

	position: absolute;
	left: 0;
	top: 0;

	animation: spin-2 3s linear 0.1s infinite;
}

@keyframes spin-2 {
	0% {
		transform: rotate(0deg);
	}
	16% {
		transform: rotate(0deg);
	}
	33% {
		transform: rotate(120deg);
	}
	50% {
		transform: rotate(120deg);
	}
	66% {
		transform: rotate(240deg);
	}
	83% {
		transform: rotate(240deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

//
.loader-lms {
	height: 75px;
	width: 75px;
	position: relative;
	border-radius: 50%;
	background-color: white;

	// animation: l-pspin linear 3s infinite;
}

@keyframes l-pspin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader-lms-1 {
	height: 75px;
	width: 75px;
	background-color: transparent;

	border: solid 7px white;
	// border-top: solid 7px red;
	border-left: solid 7px red;
	border-bottom: solid 7px red;
	border-right: solid 7px red;
	border-radius: 50%;

	animation: l-spin-1 3s linear 1.5s infinite;
	// animation: l-spin-1 3s linear 2.5s;

	position: relative;
}

@keyframes l-spin-1 {
	0% {
		transform: rotate(0deg);
	}
	16% {
		transform: rotate(90deg);
	}
	33% {
		transform: rotate(120deg);
	}
	50% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(240deg);
	}
	83% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
	// 0% {
	// 	transform: rotate(0deg);
	// }
	// 16% {
	// 	transform: rotate(120deg);
	// }
	// 33% {
	// 	transform: rotate(120deg);
	// }
	// 50% {
	// 	transform: rotate(240deg);
	// }
	// 66% {
	// 	transform: rotate(240deg);
	// }
	// 83% {
	// 	transform: rotate(360deg);
	// }
	// 100% {
	// 	transform: rotate(360deg);
	// }
}

.loader-lms-c {
	position: absolute;
	height: 75px;
	width: 75px;
	background-color: transparent;

	border: solid 7px transparent;

	border-radius: 50%;

	position: absolute;
	left: 0;
	top: 0;
}

.loader-lms-2 {
	border-top: solid 7px white;
	// border-top: solid 7px blue;
	animation: l-spin-2 3s linear 0s infinite;
	// animation: l-spin-2 3s linear 0s;
}

.loader-lms-3 {
	border-top: solid 7px white;
	// border-top: solid 7px green;
	animation: l-spin-2 3s linear 0.5s infinite;
	// animation: l-spin-2 3s linear 0.5s;
}

.loader-lms-4 {
	border-top: solid 7px white;
	// border-top: solid 7px yellow;
	animation: l-spin-2 3s linear 1s infinite;
	// animation: l-spin-2 3s linear 1s;
}

@keyframes l-spin-2 {
	0% {
		transform: rotate(0deg);
	}
	16% {
		transform: rotate(90deg);
	}
	33% {
		transform: rotate(120deg);
	}
	50% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(240deg);
	}
	83% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
	// 0% {
	// 	transform: rotate(0deg);
	// }
	// 16% {
	// 	transform: rotate(120deg);
	// }
	// 33% {
	// 	transform: rotate(120deg);
	// }
	// 50% {
	// 	transform: rotate(240deg);
	// }
	// 66% {
	// 	transform: rotate(240deg);
	// }
	// 83% {
	// 	transform: rotate(360deg);
	// }
	// 100% {
	// 	transform: rotate(360deg);
	// }
}
//

.sloader {
	width: 300px;
	height: 20px;
	background-color: white;
	overflow: hidden;
	margin: 10px;
	position: relative;
}

.sloader-child {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;

	left: -100%;

	transition: 1s linear transform;
	transform: translate(100%);
}

.sloader::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;

	left: -100%;

	transition: 1s linear transform;
	transform: translate(100%);
}

.row {
	display: flex;
	flex-wrap: wrap;
	.column {
		flex: 25%;
	}
}

@media (max-width: 800px) {
	.row {
		.column {
			flex: 50%;
		}
	}
}

@media (max-width: 500px) {
	.row {
		.column {
			flex: 1000%;
		}
	}
}

// .container-1 {
// 	width: 800px;
// 	// height: 500px;
// 	padding: 50px 0;
// 	// padding: 200px 0;
// 	background-color: red;
// 	text-align: center;
// 	.container-1-child {
// 		width: 100px;
// 		height: 100px;
// 		background-color: white;
// 		display: inline-block;
// 		vertical-align: middle;
// 	}
// }

// .container-1 {
// 	width: 800px;
// 	// height: 500px;
// 	padding: 50px 0;
// 	// padding: 200px 0;
// 	background-color: red;
// 	.container-1-child {
// 		width: 100px;
// 		height: 100px;
// 		background-color: white;
// 		margin: auto;
// 	}
// }

// .container-1 {
// 	width: 800px;
// 	height: 500px;
// 	background-color: red;
// 	position: relative;
// 	.container-1-child {
// 		width: 100px;
// 		height: 100px;
// 		background-color: white;

// 		margin: auto;
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		left: 0;
// 	}
// }

// .container-1 {
// 	width: 800px;
// 	// height: 500px;
// 	// padding: 50px 0;
// 	// padding: 200px 0;
// 	background-color: red;
// 	text-align: center;
// 	.container-1-child {
// 		background-color: green;
// 		// display: inline-block;
// 		vertical-align: middle;
// 		margin: 10px;
// 		padding: 10px;
// 	}
// }

.container-2 {
	width: 800px;
	// height: 500px;
	// padding: 50px 0;
	// padding: 200px 0;
	background-color: red;
	text-align: center;
	.container-2-child {
		background-color: green;
		// display: inline-block;
		vertical-align: middle;
		margin: 10px;
		padding: 10px;
	}
}

.container-3 {
	width: 800px;
	height: 500px;
	// padding: 50px 0;
	// padding: 200px 0;
	background-color: red;
	text-align: center;
	.container-3-child {
		width: 100px;
		height: 100px;
		background-color: white;
		// display: inline-block;
	}
}
